In [1]:
#import dependencies
import pandas as pd

In [2]:
#read in csv
path = 'Resources/Expenditures_Year_AllAreas_1997_2021.csv'
spending_df = pd.read_csv(path)

In [3]:
#Drop extraneous columns
spending_df_reducedcols = spending_df[['GeoName', 'Description', '2019', '2020', '2021']]
spending_df_reducedcols

,GeoName,Description,2019,2020,2021
0,United States,Personal consumption expenditures,14392721.0,14116165.7,15902575.3
1,United States,Goods,4473509.9,4670135.0,5496516.0
2,United States,Durable goods,1510542.9,1646793.0,2060246.3
3,United States,Motor vehicles and parts,517001.3,533928.4,688718.9
4,United States,Furnishings and durable household equipment,360456.0,411923.1,495001.7
...,...,...,...,...,...
1439,Far West,Less: Receipts from sales of goods and serv...,234318.9,225108.6,251733.8
1440,NaN,NaN,NaN,NaN,NaN
1441,NaN,NaN,NaN,NaN,NaN
1442,NaN,NaN,NaN,NaN,NaN
1443,NaN,NaN,NaN,NaN,NaN

In [4]:
#Use loc function to drop rows containing national-level data and regional aggregations

spending_df_clean = spending_df_reducedcols.loc[(spending_df_reducedcols['GeoName']!='United States') &
                                                (spending_df_reducedcols['GeoName']!='New England') &
                                                (spending_df_reducedcols['GeoName']!= 'Mideast') &
                                                (spending_df_reducedcols['GeoName']!= 'Great Lakes') &
                                                 (spending_df_reducedcols['GeoName']!= 'Plains') &
                                                  (spending_df_reducedcols['GeoName']!= 'Southeast') &
                                                   (spending_df_reducedcols['GeoName']!= 'Southwest') & 
                                                (spending_df_reducedcols['GeoName']!= 'Rocky Mountain') &
                                                 (spending_df_reducedcols['GeoName']!= 'Far West') &
                                               (spending_df_reducedcols['GeoName']!= 'NaN')]

#drop rows full of null values

spending_df_clean_nonull = spending_df_clean.dropna(0, how='all')

spending_df_clean_nonull.rename(columns = {'GeoName': 'us_state', 'Description': 'spending_category', '2019': '2019_spending', '2020': '2020_spending', '2021': '2021_spending'}, inplace=True)

spending_df_clean_nonull

/var/folders/ng/41b1kp4n0wg3hvfwdd1fdzzm0000gn/T/ipykernel_76453/1432553094.py:16: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  spending_df_clean_nonull = spending_df_clean.dropna(0, how='all')
/var/folders/ng/41b1kp4n0wg3hvfwdd1fdzzm0000gn/T/ipykernel_76453/1432553094.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spending_df_clean_nonull.rename(columns = {'GeoName': 'us_state', 'Description': 'spending_category', '2019': '2019_spending', '2020': '2020_spending', '2021': '2021_spending'}, inplace=True)

,us_state,spending_category,2019_spending,2020_spending,2021_spending
24,Alabama,Personal consumption expenditures,177412.1,177093.9,199866.7
25,Alabama,Goods,62273.6,65796.5,77553.5
26,Alabama,Durable goods,19353.8,21669.1,26894.8
27,Alabama,Motor vehicles and parts,8116.1,8685.7,11302.7
28,Alabama,Furnishings and durable household equipment,4489.2,5425.1,6306.0
...,...,...,...,...,...
1243,Wyoming,Financial services and insurance,2637.6,2734.5,3122.8
1244,Wyoming,Other services,1490.5,1508.9,1703.0
1245,Wyoming,Final consumption expenditures of nonprofit ...,583.9,699.7,658.4
1246,Wyoming,Gross output of nonprofit institutions,2869.8,2896.4,3215.7
1247,Wyoming,Less: Receipts from sales of goods and serv...,2285.8,2196.7,2557.4

In [5]:




spending_df_clean_nonull['us_state'] = spending_df_clean_nonull['us_state'].astype(str)

spending_df_clean_nonull

/var/folders/ng/41b1kp4n0wg3hvfwdd1fdzzm0000gn/T/ipykernel_76453/4245287862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spending_df_clean_nonull['us_state'] = spending_df_clean_nonull['us_state'].astype(str)

,us_state,spending_category,2019_spending,2020_spending,2021_spending
24,Alabama,Personal consumption expenditures,177412.1,177093.9,199866.7
25,Alabama,Goods,62273.6,65796.5,77553.5
26,Alabama,Durable goods,19353.8,21669.1,26894.8
27,Alabama,Motor vehicles and parts,8116.1,8685.7,11302.7
28,Alabama,Furnishings and durable household equipment,4489.2,5425.1,6306.0
...,...,...,...,...,...
1243,Wyoming,Financial services and insurance,2637.6,2734.5,3122.8
1244,Wyoming,Other services,1490.5,1508.9,1703.0
1245,Wyoming,Final consumption expenditures of nonprofit ...,583.9,699.7,658.4
1246,Wyoming,Gross output of nonprofit institutions,2869.8,2896.4,3215.7
1247,Wyoming,Less: Receipts from sales of goods and serv...,2285.8,2196.7,2557.4

In [6]:
spending_df_clean_nonull['us_state'].value_counts()

Alabama                 24
Pennsylvania            24
Nevada                  24
New Hampshire           24
New Jersey              24
New Mexico              24
New York                24
North Carolina          24
North Dakota            24
Ohio                    24
Oklahoma                24
Oregon                  24
Rhode Island            24
Montana                 24
South Carolina          24
South Dakota            24
Tennessee               24
Texas                   24
Utah                    24
Vermont                 24
Virginia                24
Washington              24
West Virginia           24
Wisconsin               24
Nebraska                24
Missouri                24
Alaska                  24
Idaho                   24
Arizona                 24
Arkansas                24
California              24
Colorado                24
Connecticut             24
Delaware                24
District of Columbia    24
Florida                 24
Georgia                 24
Hawaii                  24
Illinois                24
Mississippi             24
Indiana                 24
Iowa                    24
Kansas                  24
Kentucky                24
Louisiana               24
Maine                   24
Maryland                24
Massachusetts           24
Michigan                24
Minnesota               24
Wyoming                 24
Name: us_state, dtype: int64

In [10]:
spending_df_clean_nonull.to_csv('state_spending_cleaned.csv', index=False)

In [9]:
spending_df_clean_nonull

,us_state,spending_category,2019_spending,2020_spending,2021_spending
24,Alabama,Personal consumption expenditures,177412.1,177093.9,199866.7
25,Alabama,Goods,62273.6,65796.5,77553.5
26,Alabama,Durable goods,19353.8,21669.1,26894.8
27,Alabama,Motor vehicles and parts,8116.1,8685.7,11302.7
28,Alabama,Furnishings and durable household equipment,4489.2,5425.1,6306.0
...,...,...,...,...,...
1243,Wyoming,Financial services and insurance,2637.6,2734.5,3122.8
1244,Wyoming,Other services,1490.5,1508.9,1703.0
1245,Wyoming,Final consumption expenditures of nonprofit ...,583.9,699.7,658.4
1246,Wyoming,Gross output of nonprofit institutions,2869.8,2896.4,3215.7
1247,Wyoming,Less: Receipts from sales of goods and serv...,2285.8,2196.7,2557.4